# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Java
backend/target/
backend/.gradle/
backend/build/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.npm-cache/
node_modules/
.npm-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/tmp
/out-tsc
/.pnp
.pnp.js

# Env
.env
.env.*
!.env.example

# Logs
*.log

# uploaded images
backend/uploads/
